/* ============ Interface ============ */
// spacing
$globalPadding: 14px;
$spacingXS: 0.25rem;
$spacingS: 0.5rem;
$spacingM: 1rem;
$spacingL: 2.5rem;
$spacingXL: 6rem;

// menu gap
$menuGapDesktop: 14px;

// grid
$baseGridPaddingMobile: 10px;

// page padding
$pagePaddingDesktop: 20px;

// font sizes
$smallFontSizeMobile: 0.8rem;
$smallFontSize: 0.8rem;
$baseFontSizeMobile: 15px;
$baseFontSize: 15px;
$mediumFontSizeMobile: 1.5rem;
$mediumFontSize: 1.5rem;
$largeFontSizeMobile: 2rem;
$largeFontSize: 2rem;
$largerFontSizeMobile: 2.5rem;
$largerFontSize: 3.5rem;

// colors
$bodyBackground: white;
$blue: #0000ff;
$placeholderColor: #eeeeee;
// $pink: #ff6071;
// $darkPink: #ff0055;
// $otherPink: #ff2d5f;
// $purple: #54009e;
// $orange: #ff473a;
// $blue: #2900c6;
// $beige: #e1ddc1;

// transition
$transitionDefault: 300ms ease;
$transitionFast: 1750ms ease;
